/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*------> END CSS RESET <------*/


/*------> START MAIN STYLES <------*/

/* -----UNIVERSAL */
@font-face {
   font-family: Vegur; 
   src: url(/fonts/Vegur-B 0.602.otf) format("opentype"); 
} 

body{
	background: #fefefe;
}

body#index{
	background-image: url("images/indexBackgroundSlice.png");
	background-repeat: repeat-x;
}

.index-background{
	background-image: url("images/index-background.png");
}

.mainWrap{
	position: relative;
	width: 1050px;
	margin: 0 auto;
	height: 1449px;
}

/* header */
.logo{
	position: absolute;
	top: 24px;
	left: 35px;
}

.search{
	position: absolute;
	top: 24px;
	right: 35px;
}

.search input{
	width: 130px;
}

.login{
	position: absolute;
	top: 55px;
	right: 35px;
}

.contact{
	position: absolute;
	top: 75px;
	right: 35px;
}
.mainNav{
	position: absolute;
	top: 114px;
	right: 35px;
}

.mainNav ul li{
	float: left;
	margin-left: 40px;	
}

.mainNav ul li a{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	color: #404041;
	text-decoration: none;
	font-weight: 500;
}

.mainNavActive{
	color: #C12026 !important;
}

.mainNav ul li a:hover{
	color: #C12026;
}

.contactPageLink{
	color: #f9102c;
	text-decoration: none;
}

/* -----END UNIVERSAL */


/* -----INDEX */

/* top content */
.indexTopContent{
	position: absolute;
	top: 215px;
	left: 55px;	
	width: 490px;
}

.indexTopContent h1{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 30px; 
	font-weight: 100;
	color: #606060;
	margin-bottom: 6px;
}

.indexTopContent p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 20px; 
	line-height: 26px;
	font-weight: 100;
	color: #C12026;
	margin-bottom: 20px;
}

.indexTopContent p:last-of-type{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 20px; 
	font-weight: 100;
	color: #404041;
	margin-bottom: 0px;
}

.ipadPic{
	position: absolute;
	top: -65px;
	left: 390px;
}

/* middle content */
.indexMiddleContent{
	position: absolute;
	top: 520px;
	left: 74px;
}

.left, .middle, .right{
	float: left;
	width: 265px;
	height: 80px;
}	

.middle{
	margin-left: 100px;
}

.indexMiddleContent h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	font-weight: 400; 
	color: #fff;
	margin-bottom: 10px;
}

.indexMiddleContent p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px; 
	line-height: 18px;
	font-weight: 100;
	color: #808284;
}

.indexMiddleContent a img{
	margin-top: -5px;
}

.getTheChecklist{
	position: absolute;
	top: 118px;
	right: 40px;
}

.deliveryCounter{
	position: absolute;
	top: 0px;
	left: 285px;
}

.nums1{
	position: absolute;
	top: 50px;
	left: 374px;
}

.nums2{
	position: absolute;
	top: 111px;
	left: 374px;
}

/* bottom content */
.indexBottomContent{
	position: absolute;
	top: 760px;
	left: 74px;
	width: 410px;
}

.indexBottomContent h1{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 30px; 
	font-weight: 100;
	color: #C12026;
	margin-bottom: 6px;
}

.indexBottomContent p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 13px; 
	line-height: 18px;
	font-weight: 400;
	color: #404041;
	margin-bottom: 5px;
}

.videoImage{
	position: absolute;
	top: -30px;
	left: 455px;
}

.ourClients{
	position: absolute;
	top: 235px;
	left: 0px;
}

.unitedStationers{
	position: absolute;
	top: 280px;
	left: 0px;
}

.newsFeedWrap{
	position: absolute;
	top: 235px;
	left: 290px;
}

.newsNav{
	width: 25px;
	position: absolute;
	top: 51px;
	left: 582px;
}

.upArrow img{
	margin-bottom: 15px;
}

.twitterLink{
	position: absolute;
	top: 40px;
	left: 17px;
}

.linkedInLink{
	position: absolute;
	top: 97px;
	left: 18px;
}

.twitterNews{
	position: absolute;
	top: 34px;
	left: 55px;
}

.linkedInNews{
	position: absolute;
	top: 88px;
	left: 55px;	
}

/*logo slideshow*/
#slideshow { 
	margin: 264px 0 0 -15px; 
    position: relative; 
    width: 170px; 
    height: 80px; 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

/* home page footer - different from footers on other pages */
footer{
	position: absolute;
	left: 0px;
	top: 1160px;
}

footer nav{
	margin: 30px 0 0 50px;
}

footer nav li{
	margin-bottom: 10px;
}

footer nav li a{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 500;
}

.customerQuote{
	position: absolute;
	top: 30px;
	left: 370px;
	width: 350px;
}

.customerQuote h1{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	font-weight: 400; 
	color: #404041;
	margin-bottom: 10px;	
}

.customerQuote blockquote{
	width: 295px;
}

.customerQuote p{
	width: 350px;
	color: #F9102C;
}

.customerQuote blockQuote{
	color: #404041;
}

.customerQuote blockQuote, .customerQuote p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 13px; 
	line-height: 18px;
	font-weight: 400;
	margin-bottom: 5px;
}

.indexContactUs{
	position: absolute;
	top: 30px;
	left: 745px;
	width: 350px;
}

.indexContactUs h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 30px; 
	font-weight: 100;
	color: #F9102C;
	margin-bottom: 10px;
}

.indexContactUs p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 20px;
	line-height: 26px; 
	font-weight: 100;
	color: #404041;
}

.indexStayConnected{
	position: absolute;
	top: 160px;
	left: 745px;
	width: 350px;	
}

.indexStayConnected h3{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 400;
}

.indexStayConnected ul{
	position: absolute;
	top: -13px;
	left: 140px;
} 

.indexStayConnected ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
}

.indexCopyright{
	margin: 80px 0 0 45px;
	font-size: 16px;
	color: #404041;	
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-transform: capitalize;
	width: 180px;
}

.indexFooterNav{
	margin: -20px 0 0 360px;
}

.indexFooterNav ul li{
	float: left;
}

.indexFooterNav ul li{
	margin-left: 6px;
}

.indexFooterNav ul li a{
	text-transform: capitalize;
	font-weight: 400;
	font-size: 14px;
	color: #404041;	
}
/* -----END INDEX */


/* -----TECHNOLOGY */
body#technology{
	background-image: url("images/technologyBackgroundSlice.png");
	background-repeat: repeat-x;
}

.technology-background{
	background-image:url("images/technologyBackground.png");
}

.technologyWrap{ 
	position: relative;
	width: 1050px;
	margin: 0 auto;
	height: 1954px;
}

.technologyTopContent{
	width: 715px;
	position: absolute;
	top: 180px;
	left: 110px;
}

.technologyTopContent h1{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 50px; 
	font-weight: 100;
	color: #606060;
	margin-bottom: 6px;
}

.technologyTopContent p{ 
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 22px; 
	line-height: 30px;
	font-weight: 100;
	color: #C12026;
	margin-bottom: 20px;
}

.technologyMiddleContent{
	width: 630px;
	height: 760px;
	position: absolute;
	top: 435px;
	left: 50px;
}

.technologyMiddleContent div{
	position: relative;
}

.technologyMiddleContent h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #C12026;
	margin-bottom: 10px;
	font-weight: 400;
}

.technologyMiddleContent p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 18px;
	color: #606060;
	margin-bottom: 40px;
}

.technologyMiddleContent h3{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #D85800;
	margin-bottom: 10px;
	font-weight: 100;
}

.technologyListsLines{
	position: absolute;
	left: 0px;
	top: 260px;
}

.technologyLists{
	margin: 22px 0 0 30px;
}

.technologyLists ul{
	margin-bottom: 20px;
}

.technologyLists h4{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #C12026;
	font-weight: 400;
	margin-bottom: 2px;
}

.technologyLists li{
	font-size: 8px;
	list-style: none;
}

.technologyLists li p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 20px;
	color: #606060;
	margin: 0;
}

.technologySidebar{
	position: absolute;
	top: 460px;
	left: 740px;
	width: 260px;
	height: 350px;
	background: #caccce;
}

.technologySidebar ul{
	list-style: none;
}

.technologySidebar img{
	width: 13px;
	height: 15px;
	margin: 0 5px -2px 0;
}

.technologySidebar div{
	margin: 20px 0 0 30px;
	width: 210px;
	height: 330px;
}

.technologySidebar h3{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #FFF;
	margin: 0 0 10px -15px;
	font-weight: 100;
}

.technologySidebar li{ /* figure out bullet impages */
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 16px;
	line-height: 22px;
	color: #404041;
	font-weight: 100;
	margin-bottom: 10px;
}

/*technology bottom content*/
.technologyBottomContent{
	position: absolute; 
	top: 1250px; 
	left: 85px;
	width: 825px;
}

.technologyBottomContent h5{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	margin-bottom: 10px;
	font-weight: 100;
}

#technologyBottomContentFirstP{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	font-weight: 100;
	margin-bottom: 30px;
}
.technologyBottomContent h6{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;

	font-weight: 400;
}

.technologyBottomContent p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	font-weight: 100;
	margin-bottom: 30px;
}

#technologyBottomContentLastDiv{
	margin: -15px 0 0 0; 
}

/* technology footer */
.technologyFooter{
	position: absolute;
	left: -13px;
	top: 1740px;
}

.technologyFooter div{
	position: relative;
}

.technologyFooter nav li{
	margin-bottom: 10px;
	float: left;
	margin-left: 8px;
}

.technologyFooter nav li a{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 500;
}

.footerNavMain{
	margin: 90px 0 0 35px;
}

.footerNav{
	margin: -18px 0 0 260px;
}

.footerNav ul li{
	float: left;
}

.footerNav ul li{
	margin-left: 6px;
}

.footerNav ul li a{
	text-transform: capitalize;
	font-weight: 400;
	font-size: 14px;
	color: #404041;	
}

.contactUs{
	position: absolute;
	top: -33px;
	left: 745px;
	width: 350px;
}

.contactUs h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px; 
	font-weight: 100;
	color: #F9102C;
	margin: -5px 20px 0 0;
	float: left;
}

.contactUs p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 16px;
	line-height: 20px; 
	font-weight: 100;
	color: #404041;
}

.contactUs p:last-of-type{
	margin-left: 126px;
}

.stayConnected{
	position: absolute;
	top: 3px;
	left: 745px;
	width: 350px;	
}

.stayConnected h3{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 400;
}

.stayConnected ul{
	position: absolute;
	top: -13px;
	left: 140px;
} 

.stayConnected ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
}

.copyright{
	margin: -15px 0 0 45px;
	font-size: 16px;
	color: #404041;	
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-transform: capitalize;
	width: 180px;
}
/* -----END TECHNOLOGY */



/* -----RESOURCE */
body#resource{
	background-image: url("images/resourceBackgroundSlice.png");
	background-repeat: repeat-x;
}

.resourceBackground{
	background-image:url("images/resourceBackground.png");
}

.resourceWrap{
	position: relative;
	width: 1050px;
	margin: 0 auto;
	height: 2134px;
}

/*resource top content*/
.resourceTopContent{
	width: 565px;
	position: absolute;
	top: 190px;
	left: 245px;
}

.resourceTopContent h1{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 50px; 
	font-weight: 100;
	color: #404041;
	margin-bottom: 6px;
}

.resourceTopContent p{ 
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 22px; 
	line-height: 30px;
	font-weight: 100;
	color: #C12026;
	margin-bottom: 20px;
}

/*resource middle content*/

.resourceMiddleContent{
	width: 610px;
	position: absolute;
	top: 450px;
	left: 50px;
}

.resourceMiddleContent h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #D85800;
	margin-bottom: 20px;
	font-weight: 100;
}

.resourceMiddleContent h3{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #C12026;
	font-weight: 400;
	margin-bottom: 2px;
	float: left;
}

.resourceMiddleContent p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 20px;
	color: #606060;
	margin-bottom: 20px;
	clear: left;
}

.resourceResources, .resourceNews, .resourceArticles{
	margin-bottom: 40px;
}

.resourceResources img, .resourceArticles img{
	margin: -3px 0 0 10px;
}

.resourceArticles{
	margin-top: 70px;
}
.resourceSidebar{
	position: absolute;
	top: 10px;
	left: 680px;
	width: 265px;
	height: 595px;
	background: #CECCCA;
}

.resourceSidebar div{
	width: 215px;
	margin: 20px;
}

.resourceSidebar h4{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #FFF;
	margin: 0 0 20px 0;
	font-weight: 100;
}

.resourceSidebar blockquote{ 
	font-family:  Vegur, Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 18px;
	color: #404041;
	font-weight: 100;
	margin-bottom: 10px;
}

.resourceSidebar p{
	font-family: "myriad pro", Calibri, Arial, Georgia, Verdana, Sans-Serif; 
	color: #C33927;
	font-weight: 900;
	margin-bottom: 0px;
	font-size: 14px;
}
 
.resourceSidebar img{
	margin: 5px 0 20px 0;
}

.someClients{
	position: absolute;
	left: 680px;
	top: 695px;
	height: 200px;
	width: 285px;
}

.someClients div{
	position: relative;
	display: block;
}

.someClients h3{
	font-weight: 100;
	margin-bottom: 20px;
}

.someClients li{
	list-style: none;
	float: left;
	margin: 0 25px 25px 0;
}


/*resource bottom content*/
.resourceBottomContent{
	position: absolute;
	top: 1525px;
	left: 42px;
	width: 948px;
	height: 440px;
}

.resourceBottomContentWrap{
	position: relative;
}

.resourceBottomContent h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #D85800;
	margin-bottom: 20px;
	font-weight: 100;
}

.resourceBottomContent h3{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #C12026;
	font-weight: 400;
	margin-bottom: 2px;
}

.resourceTwitterFeed{
	position: relative;
	background-image: url("images/resourceTwitterFeedBackground.png");
	background-repeat: no-repeat;
	width: 500px;
	height: 140px;
	margin: 35px 0 0 0;
}

.resourceTwitterFeed h3{
	position: absolute;
	top: -25px;
	left: 65px;
}

.resourceTwitterFeed p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 16px;
	color: #606060;
	width: 400px;
	margin: 20px 0 22px 55px;
}

.resourceTwitterFeed p:first-of-type{
	padding-top: 6px;
}

.resourceTwitterFeedLogo{
	position: absolute;
	top: -22px;
	left: 38px;
}

.resourceTwitterDate1{
	position: absolute;
	top: 5px;
	left: 10px;
}

.resourceTwitterDate2{
	position: absolute;
	top: 60px;
	left: 10px;
}

.twitterFeedNav{
	position: absolute;
	top: 20px;
	right: 0;
	width: 24px;
}

.twitterFeedNav a{
	clear: both;
}

.resourceLinkedInDate1{
	position: absolute;
	top: 5px;
	left: 10px;
}

.resourceLinkedInDate2{
	position: absolute;
	top: 60px;
	left: 10px;
}

.resourceLinkedInFeed{
	position: relative;
	background-image: url("images/resourceLinkedInFeedBackground.png");
	background-repeat: no-repeat;
	width: 500px;
	height: 220px;
	margin: 50px 0 0 0;
}

.resourceLinkedInFeed h3{
	position: absolute;
	top: -25px;
	left: 65px;
}

.resourceLinkedInFeed p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 16px;
	color: #606060;
	margin: 20px 0 22px 55px;
	width: 400px;
}

.resourceLinkedInFeed p:first-of-type{
	padding-top: 6px;
}

.resourceLinkedInLogo{
	position: absolute;
	top: -22px;
	left: 38px;
}

.linkedInFeedNav{
	position: absolute;
	top: 20px;
	right: 0;
	width: 24px;
}

.resourceNewsFeed{
	position: relative;
	width: 405px;
	height: 375px;
	margin: -145px 0 0 530px;
}

.resourceBloggerLogo{
	position: absolute;
	top: 4px;
	left: 0px;
}

.resourceNewsFeed h3{
	margin-left: 25px;
	margin-bottom: 15px;
}

.resourceNewsFeed h5{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #606060;
	margin-bottom: 10px;
	font-weight: 900;
}

.resourceNewsFeed h5 span{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #C12026;
	font-weight: 100;
}

.resourceNewsFeed p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 18px;
	color: #606060;
	margin-bottom: 20px;
}

.newsFeedNav{
	position: absolute;
	top: 200px;
	right: -30px;
	width: 24px;
}

.newsFeedNav img{
	margin-bottom: 30px;
}

/* resource footer */
.resourceFooter{
	position: absolute;
	left: -13px;
	top: 1924px;
}

.resourceFooter div{
	position: relative;
}

.resourceFooter nav li{
	margin-bottom: 10px;
	float: left;
	margin-left: 8px;
}

.resourceFooter nav li a{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 500;
}

.footerNavMain{
	margin: 90px 0 0 35px;
}

.footerNav{
	margin: -18px 0 0 260px;
}

.footerNav ul li{
	float: left;
}

.footerNav ul li{
	margin-left: 6px;
}

.footerNav ul li a{
	text-transform: capitalize;
	font-weight: 400;
	font-size: 14px;
	color: #404041;	
}

.contactUs{
	position: absolute;
	top: -33px;
	left: 745px;
	width: 350px;
}

.contactUs h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px; 
	font-weight: 100;
	color: #F9102C;
	margin: -5px 20px 0 0;
	float: left;
}

.contactUs p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 16px;
	line-height: 20px; 
	font-weight: 100;
	color: #404041;
}

.contactUs p:last-of-type{
	margin-left: 126px;
}

.stayConnected{
	position: absolute;
	top: 3px;
	left: 745px;
	width: 350px;	
}

.stayConnected h3{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 400;
}

.stayConnected ul{
	position: absolute;
	top: -13px;
	left: 140px;
} 

.stayConnected ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
}

.copyright{
	margin: -15px 0 0 45px;
	font-size: 16px;
	color: #404041;	
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-transform: capitalize;
	width: 180px;
}

/* -----END RESOURCE */




/* -----COMPANY */
body#company{
	background-image: url("images/companyBackgroundSlice.png");
	background-repeat: repeat-x;
}

.companyBackground{
	background-image:url("images/companyBackground.png");
}

.companyWrap{
	position: relative;
	width: 1050px;
	margin: 0 auto;
	height: 2826px;
}
 
/* company .topContent */
.companyTopContent{
	width: 565px;
	position: absolute;
	top: 180px;
	left: 280px;
}

.companyTopContent h1{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 50px; 
	font-weight: 100;
	color: #404041;
	margin-bottom: 6px;
}

.companyTopContent p{ 
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 22px; 
	line-height: 30px;
	font-weight: 100;
	color: #C12026;
	margin-bottom: 20px;
}
/* company main */

.companyMain{
	position: absolute;
	top: 440px;
	left: 0;
	width: 660px;
}

.companyMain h3, .companyMain p{
	margin-left: 150px;
}

.companyMain h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #D85800;
	margin-bottom: 20px;
	font-weight: 100;
}

.companyMain h3{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #C12026;
	font-weight: 400;
	margin-bottom: 2px;
}

.companyMain h3{
	margin-top: 65px;
}

.companyMain h3:first-of-type{
	margin-top: 40px;
}

.companyMain h3 span{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #D85800;
	font-weight: 100;
	margin-bottom: 2px;
}

.companyMain p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 20px;
	color: #606060;
	margin-bottom: 20px;
}

/* company sidebar */
.companySidebar{
	position: absolute;
	top: 465px;
	left: 735px;
	width: 260px;
	background: #CACCCE;
}

.companySidebar div{
	width: 220px;
	margin: 20px;
}

.companySidebar h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #FFF;
	margin-bottom: 20px;
	font-weight: 100;
}

.companySidebar h3{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #C12026;
	font-weight: 400;
}

.companySidebar h4{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 20px;
	line-height: 26px;
	color: #C12026;
	font-weight: 100;
	margin-top: 20px;
}

.companySidebar p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 20px;
	color: #606060;
}

.companyAddress p, .companySupport p, .mediaContact, .companyCareers{
	margin-top: 0px;
	margin-bottom: 0px;
}

/* company footer */
.companyFooter{
	position: absolute;
	left: -13px;
	top: 2613px;
}

.companyFooter div{
	position: relative;
}

.companyFooter nav li{
	margin-bottom: 10px;
	float: left;
	margin-left: 8px;
}

.companyFooter nav li a{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 500;
}

.footerNavMain{
	margin: 90px 0 0 35px;
}

.footerNav{
	margin: -18px 0 0 260px;
}

.footerNav ul li{
	float: left;
}

.footerNav ul li{
	margin-left: 6px;
}

.footerNav ul li a{
	text-transform: capitalize;
	font-weight: 400;
	font-size: 14px;
	color: #404041;	
}

.contactUs{
	position: absolute;
	top: -33px;
	left: 745px;
	width: 350px;
}

.contactUs h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px; 
	font-weight: 100;
	color: #F9102C;
	margin: -5px 20px 0 0;
	float: left;
}

.contactUs p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 16px;
	line-height: 20px; 
	font-weight: 100;
	color: #404041;
}

.contactUs p:last-of-type{
	margin-left: 126px;
}

.stayConnected{
	position: absolute;
	top: 3px;
	left: 745px;
	width: 350px;	
}

.stayConnected h3{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 400;
}

.stayConnected ul{
	position: absolute;
	top: -13px;
	left: 140px;
} 

.stayConnected ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
}

.copyright{
	margin: -15px 0 0 45px;
	font-size: 16px;
	color: #404041;	
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-transform: capitalize;
	width: 180px;
}
/* -----END COMPANY */



/* -----CUSTOMER */
body#customer{
	background-image: url("images/customerBackgroundSlice.png");
	background-repeat: repeat-x;
}

.customerBackground{
	background-image:url("images/customerBackground.png");
}

.customerWrap{
	position: relative;
	width: 1050px;
	margin: 0 auto;
	height: 1730px;
}

/*customer top content*/
.customerTopContent{
	width: 750px;
	position: absolute;
	top: 180px;
	left: 130px;
}
.customerTopContent h1{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 50px; 
	font-weight: 100;
	color: #404041;
	margin-bottom: 6px;
}

.customerTopContent p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 22px; 
	line-height: 30px;
	font-weight: 100;
	color: #C12026;
	margin-bottom: 20px;
}

/*customer middle content*/
.customerMiddleContent{
	position: absolute;
	top: 450px;
	left: 50px;
}
 
.customerMiddleContent h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #C12026;
	font-weight: 400;
	margin-bottom: 30px;
}

.customerMiddleContent ul{
	list-style: none;
	width: 700px;
	margin-left: -13px;
}

.customerMiddleContent ul li{
	float: left;
	margin: 10px 15px ;
}

.clientLogo4{
	margin-left: 95px !important;
	clear: left;
}

.clientLogo4 img{
	margin-top: 5px;
}



.customerClientLogos{
	width: 700px;
}

.customerClientLogos li{
	height: 81px;
	width: 173px;
}

.customerCaseStudies{
	position: absolute;
	top: 300px;
	left: 0;
	width: 615px;
}

.customerMiddleContent h3{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #C12026;
	font-weight: 400;
	margin-bottom: 2px;
	float: left;
}

.customerMiddleContent p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 20px;
	color: #606060;
	margin-bottom: 20px;
	clear: left;
}

.customerCaseStudies img{
	margin: -3px 0 0 10px;
	}

/*customer sidebar*/
.customerSidebar{
	position: absolute;
	top: 460px;
	left: 710px;
	height: 421px;
	width: 279px;
	background: #caccce;
}

.customerSidebar div{
	width: 225px;
	margin: 30px;
}

.customerSidebar h4{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	margin-bottom: 20px;
	font-weight: 100;
}

.customerSidebar p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 20px;
	color: #c12026;
	margin-bottom: 10px;
	clear: left;
	font-weight: 100;
}

/*customer bottom content*/
.customerBottomContent{
	background-image: url("images/grandJunctionResultsBackground.png");
	width: 643px;
	height: 409px;
	position: absolute;
	top: 1100px;
	left: 40px;
}

.customerBottomContent h4{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	margin-bottom: 20px;
	font-weight: 100;
}

.customerBottomContent ul{
	list-style: none;
	margin-left: 5px;
}

.customerBottomContent li{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 20px;
	color: #606060;
	clear: left;
}

.grandJunctionResults{
	margin: 20px 0 0 45px;
}

.whyGrandJunction{
	margin: 55px 0 0 45px;
}

.customerBottomContent li img{
	height: 14px;
	margin: 0 5px -2px 0;
}
/* customer footer */
.customerFooter{
	position: absolute;
	left: -13px;
	top: 1514px;
}

.customerFooter div{
	position: relative;
}

.customerFooter nav li{
	margin-bottom: 10px;
	float: left;
	margin-left: 8px;
}

.customerFooter nav li a{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 500;
}

.footerNavMain{
	margin: 90px 0 0 35px;
}

.footerNav{
	margin: -18px 0 0 260px;
}

.footerNav ul li{
	float: left;
}

.footerNav ul li{
	margin-left: 6px;
}

.footerNav ul li a{
	text-transform: capitalize;
	font-weight: 400;
	font-size: 14px;
	color: #404041;	
}

.contactUs{
	position: absolute;
	top: -33px;
	left: 745px;
	width: 350px;
}

.contactUs h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px; 
	font-weight: 100;
	color: #F9102C;
	margin: -5px 20px 0 0;
	float: left;
}

.contactUs p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 16px;
	line-height: 20px; 
	font-weight: 100;
	color: #404041;
}

.contactUs p:last-of-type{
	margin-left: 126px;
}

.stayConnected{
	position: absolute;
	top: 3px;
	left: 745px;
	width: 350px;	
}

.stayConnected h3{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 400;
}

.stayConnected ul{
	position: absolute;
	top: -13px;
	left: 140px;
} 

.stayConnected ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
}

.copyright{
	margin: -15px 0 0 45px;
	font-size: 16px;
	color: #404041;	
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-transform: capitalize;
	width: 180px;
}
/* -----END CUSTOMER */


/* -----START CONTACT */
body#contact{
	background-image: url("images/contactBackgroundSlice.png");
	background-repeat: repeat-x;
}

.contactBackground{
	background-image:url("images/contactBackground.png");
}

.contactWrap{
	position: relative;
	width: 1050px;
	margin: 0 auto;
	height: 1279px;
}

/*contact top content*/
.contactTopContent{
	width: 475px;
	position: absolute;
	top: 210px;
	left: 269px;
}
.contactTopContent h1{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 50px; 
	font-weight: 100;
	color: #404041;
	margin-bottom: 6px;
}

.contactTopContent p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 22px; 
	line-height: 30px;
	font-weight: 100;
	color: #C12026;
	margin-bottom: 20px;
}


/*contact form*/
.contactMiddleContent{
	position: absolute;
	top: 435px;
	left: 37px;
}

.contactMiddleContent h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 18px;
	line-height: 24px;
	color: #C12026;
	font-weight: 400;
	margin-bottom: 30px;
}

.contactMiddleContent label{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 20px;
	color: #606060;
	margin: 0 200px 0 0;
	clear: left;
	width: 200px;
	text-align: left;
}

.contactMiddleContent input{
	height: 22px;
	width: 300px;
	margin-bottom: 10px;
}

#message{
	height: 150px;
	width: 585px;
}

#page-wrap {
	width: 660px;
	background: #CACCCE;
	height: 580px;
	position: relative;
}

#contact-area {
	position: absolute;
	top: 30px;
	left: 25px;
	width: 600px;
}

#contact-area textarea {
	height: 150px;
	width: 585px;
}

.submit-button{
	background: url("images/contactSubmitButton.png") #CACCCE;
	background-repeat: no-repeat;
	margin-top: 10px;
}

.submit-button{
	float: left;
	height: 40px !important;
	width: 96px !important;
	border: none;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
}

/*sidebar*/
.contactSidebar{
	position: absolute;
	top: 435px;
	left: 735px;
	width: 284px;
	height: 518px;
	background: #C12026;
}

.contactSidebarWrap{
	position: absolute;
	top: 20px;
	left: 20px;
}

.contactSidebar h4{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	margin-bottom: 20px;
	font-weight: 100;
}

.contactSidebar p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 16px;
	line-height: 20px;
	color: #FFF;
	clear: left;
	font-weight: 100;
}

.contactSidebar div{
	margin-bottom: 20px;
}

.contactSidebarBold{
	font-weight: 400 !important;
}

.contactSidebar iframe{
	width: 227px;
	height: 250px;
}

.contactSidebar a{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 14px;
	color: #000FFF !important;
	font-weight: 100;
	text-decoration: none;
}

/*footer*/
.contactFooter{
	position: absolute;
	left: -13px;
	top: 1063px;
}

.contactFooter div{
	position: relative;
}

.contactFooter nav li{
	margin-bottom: 10px;
	float: left;
	margin-left: 8px;
}

.contactFooter nav li a{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 500;
}

.footerNavMain{
	margin: 90px 0 0 35px;
}

.footerNav{
	margin: -18px 0 0 260px;
}

.footerNav ul li{
	float: left;
}

.footerNav ul li{
	margin-left: 6px;
}

.footerNav ul li a{
	text-transform: capitalize;
	font-weight: 400;
	font-size: 14px;
	color: #404041;	
}

.contactUs{
	position: absolute;
	top: -33px;
	left: 745px;
	width: 350px;
}

.contactUs h2{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 24px; 
	font-weight: 100;
	color: #F9102C;
	margin: -5px 20px 0 0;
	float: left;
}

.contactUs p{
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	font-size: 16px;
	line-height: 20px; 
	font-weight: 100;
	color: #404041;
}

.contactUs p:last-of-type{
	margin-left: 126px;
}

.stayConnected{
	position: absolute;
	top: 3px;
	left: 745px;
	width: 350px;	
}

.stayConnected h3{
	text-transform: uppercase;
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-decoration: none;
	color: #404041;
	font-weight: 400;
}

.stayConnected ul{
	position: absolute;
	top: -13px;
	left: 140px;
} 

.stayConnected ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
}

.copyright{
	margin: -15px 0 0 45px;
	font-size: 16px;
	color: #404041;	
	font-family:  Vegur , Calibri, Arial, Georgia, Verdana, Sans-Serif;
	text-transform: capitalize;
	width: 180px;
}

/* -----END CONTACT */